
body{
    display: flex;
    flex-direction: column;
}
h{
    font-size: 2rem;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}
div h{
    text-decoration: none;
    margin: 5px;
}
p{
    font-size: 25px;
    margin: 5px;
}
ol, li{
    list-style: decimal;
}
bold{
    font-weight: bold;
    font-size: 1.5rem;
}